.new-adress {
    background-color: #AD9AD6;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-adress button {
    font: inherit;
    
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #D9AC9A;
    background-color: #D9AC9A;
    color: black;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new-adress button:hover,
  .new-adress button:active {
    background-color: #c1917e;
    border-color: #c1917e;
  }
  
  .new-adress button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-adress button.alternative:hover,
  .new-adress button.alternative:active {
    background-color: #ddb3f8;
  }